In [1]:
import pandas as pd
# import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

rstudio on gphost01
http://gphost01.bcgsc.ca:8787/

local rstudio to make lolliplot: use this R:
export RSTUDIO_WHICH_R=/gsc/software/linux-x86_64-centos6/R-3.3.2/bin/R

rstudio on gphost03

http://gphost03.bcgsc.ca:8787/

run specific version of R in rstudio

export RSTUDIO_WHICH_R=/usr/local/bin/R


run this command in the r script on gphost08
/gsc/software/linux-x86_64-centos6/R-3.3.2/bin/Rscript ./rainstorm.R --input_maf /projects/trans_scratch/validations/workspace/szong/Cervical/mutsig2cv/118_patients.maf --cpu_num 8 

example command to run:

[szong@gphost08 mutation_rainstorm]$ /gsc/software/linux-x86_64-centos6/R-3.3.2/bin/Rscript ./rainstorm.R --input_maf /projects/trans_scratch/validations/workspace/szong/Cervical/mutsig2cv/118_patients.maf --cpu_num 48

peak detection:
[szong@gphost08 mutation_rainstorm]$ /gsc/software/linux-x86_64-centos6/R-3.3.2/bin/Rscript ./rainstorm_peaks.R --stringSplit mean_ --input_maf /projects/trans_scratch/validations/workspace/szong/Cervical/mutsig2cv/118_patients.maf  _rainstorm_k_4_mean*.tsv 

plots:
/gsc/software/linux-x86_64-centos6/R-3.3.2/bin/Rscript ./rainstorm_plot.R --file_base_name mean_ _rainstorm_k_4_mean_*.tsv

run with non-coding variants only: rainstorm has a noncoding flag. i decided to parse the maf first. this should not matter:

 /gsc/software/linux-x86_64-centos6/R-3.3.2/bin/Rscript ./rainstorm.R --input_maf ./118_patients_noncoding.maf --cpu_num 96 --output_base_name noncoding
 
 /gsc/software/linux-x86_64-centos6/R-3.3.2/bin/Rscript ./rainstorm_peaks.R --stringSplit mean_ --input_maf ./118_patients_noncoding.maf noncoding_rainstorm_k_4_mean*.tsv

In [8]:
wkdir = '/projects/da_workspace/software/mutation_rainstorm/118_patients_noncoding/'
inmaf = '/projects/trans_scratch/validations/workspace/szong/Cervical/mutsig2cv/118_patients.maf'
noncoding_maf = f'{wkdir}118_patients_noncoding.maf'
fname = 'waveletPatientDetail_withMaf.tsv'
infile = f'{wkdir}{fname}'
outfile = f'{infile}.parsed'
outfile

'/projects/da_workspace/software/mutation_rainstorm/118_patients_noncoding/waveletPatientDetail_withMaf.tsv.parsed'

## pick out non-coding mutations for rainstorm

In [3]:
dfmaf = pd.read_csv(inmaf, sep='\t')
dfmaf.head(2)

/projects/da_workspace/software/miniconda/envs/dlpy3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (4,40,43,71,72,83,84,85,86,87,88,90,97) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Hugo_Symbol,Entrez_Gene_Id,Center,NCBI_Build,Chromosome,Start_Position,End_Position,Strand,Variant_Classification,Variant_Type,...,ExAC_AF,ExAC_AF_AFR,ExAC_AF_AMR,ExAC_AF_EAS,ExAC_AF_FIN,ExAC_AF_NFE,ExAC_AF_OTH,ExAC_AF_SAS,GENE_PHENO,FILTER
0,OR4G11P,0,.,GRCh37,1,59734,59734,+,5'Flank,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PASS
1,RP11-206L10.5,0,.,GRCh37,1,694016,694016,+,3'Flank,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PASS

In [4]:
dfmaf.shape

(2698813, 109)

In [5]:
var_classifications = ["5'Flank", "3'Flank", 'IGR', "3'UTR", 'Intron',
       'Missense_Mutation', 'Silent', "5'UTR", 'RNA', 'Nonsense_Mutation',
       'Splice_Site', 'Nonstop_Mutation', 'Translation_Start_Site',
       'Frame_Shift_Ins', 'Frame_Shift_Del', 'In_Frame_Del',
       'In_Frame_Ins']
# coding sequence (CDS) is loosely defined. in general referrs to exons,  
noncoding_var_classifications = ["5'Flank", "3'Flank", 'IGR', "3'UTR", 'Intron',
        "5'UTR", 'RNA', 'Splice_Site',  'Translation_Start_Site']

In [6]:
df_noncoding = dfmaf[dfmaf.Variant_Classification.isin(noncoding_var_classifications)]

In [7]:
df_noncoding.Variant_Classification.unique()
df_noncoding[:4]

array(["5'Flank", "3'Flank", 'IGR', "3'UTR", 'Intron', "5'UTR", 'RNA',
       'Splice_Site', 'Translation_Start_Site'], dtype=object)

,Hugo_Symbol,Entrez_Gene_Id,Center,NCBI_Build,Chromosome,Start_Position,End_Position,Strand,Variant_Classification,Variant_Type,...,ExAC_AF,ExAC_AF_AFR,ExAC_AF_AMR,ExAC_AF_EAS,ExAC_AF_FIN,ExAC_AF_NFE,ExAC_AF_OTH,ExAC_AF_SAS,GENE_PHENO,FILTER
0,OR4G11P,0,.,GRCh37,1,59734,59734,+,5'Flank,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PASS
1,RP11-206L10.5,0,.,GRCh37,1,694016,694016,+,3'Flank,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PASS
2,AL669831.1,0,.,GRCh37,1,737454,737454,+,3'Flank,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PASS
3,FAM87B,0,.,GRCh37,1,757477,757477,+,3'Flank,SNP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PASS

In [113]:
df_noncoding.to_csv(noncoding_maf, sep='\t', index=False)

In [106]:
dfmaf.Variant_Classification.unique()

array(["5'Flank", "3'Flank", 'IGR', "3'UTR", 'Intron',
       'Missense_Mutation', 'Silent', "5'UTR", 'RNA', 'Nonsense_Mutation',
       'Splice_Site', 'Nonstop_Mutation', 'Translation_Start_Site',
       'Frame_Shift_Ins', 'Frame_Shift_Del', 'In_Frame_Del',
       'In_Frame_Ins'], dtype=object)

In [9]:
df = pd.read_csv(infile, sep='\t', low_memory=False)
df.head()

,chromosome,leftPosition,rightPosition,peakPosition,peakMinValue,numberPatients,mutPerKbMaf,mostFreqVClassification,position,patient,...,ExAC_AF,ExAC_AF_AFR,ExAC_AF_AMR,ExAC_AF_EAS,ExAC_AF_FIN,ExAC_AF_NFE,ExAC_AF_OTH,ExAC_AF_SAS,GENE_PHENO,FILTER
1_130.1,10,118649,127947,124617,-4.725319,34,6.774922,3'Flank,118649,HTMCP.03.06.02075_T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PASS
1_130.2,10,118649,127947,124617,-4.725319,34,6.774922,3'Flank,118649,HTMCP.03.06.02340_T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PASS
1_130.3,10,118649,127947,124617,-4.725319,34,6.774922,3'Flank,118654,HTMCP.03.06.02075_T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PASS
1_130.4,10,118649,127947,124617,-4.725319,34,6.774922,3'Flank,118680,HTMCP.03.06.02075_T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PASS
1_130.5,10,118649,127947,124617,-4.725319,34,6.774922,3'Flank,118680,HTMCP.03.06.02242_T,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PASS

In [ ]:
# df[['chromosome', ]]

In [10]:
for i in df.columns:
    print(i)

chromosome
leftPosition
rightPosition
peakPosition
peakMinValue
numberPatients
mutPerKbMaf
mostFreqVClassification
position
patient
mutrate
unadj
mutdiff
SNR
meanOfmutrate
sdOfmutrate
mutPerKb
Hugo_Symbol
Entrez_Gene_Id
Center
NCBI_Build
Chromosome
End_Position
Strand
Variant_Classification
Variant_Type
Reference_Allele
Tumor_Seq_Allele1
Tumor_Seq_Allele2
dbSNP_RS
dbSNP_Val_Status
Matched_Norm_Sample_Barcode
Match_Norm_Seq_Allele1
Match_Norm_Seq_Allele2
Tumor_Validation_Allele1
Tumor_Validation_Allele2
Match_Norm_Validation_Allele1
Match_Norm_Validation_Allele2
Verification_Status
Validation_Status
Mutation_Status
Sequencing_Phase
Sequence_Source
Validation_Method
Score
BAM_File
Sequencer
Tumor_Sample_UUID
Matched_Norm_Sample_UUID
HGVSc
HGVSp
HGVSp_Short
Transcript_ID
Exon_Number
t_depth
t_ref_count
t_alt_count
n_depth
n_ref_count
n_alt_count
all_effects
Allele
Gene
Feature
Feature_type
Consequence
cDNA_position
CDS_position
Protein_position
Amino_acids
Codons
Existing_variation
ALLELE_NUM
DISTANCE
STRAND
SYMBOL
SYMBOL_SOURCE
HGNC_ID
BIOTYPE
CANONICAL
CCDS
ENSP
SWISSPROT
TREMBL
UNIPARC
RefSeq
SIFT
PolyPhen
EXON
INTRON
DOMAINS
GMAF
AFR_MAF
AMR_MAF
ASN_MAF
EAS_MAF
EUR_MAF
SAS_MAF
AA_MAF
EA_MAF
CLIN_SIG
SOMATIC
PUBMED
MOTIF_NAME
MOTIF_POS
HIGH_INF_POS
MOTIF_SCORE_CHANGE
IMPACT
PICK
VARIANT_CLASS
TSL
HGVS_OFFSET
PHENO
MINIMISED
ExAC_AF
ExAC_AF_AFR
ExAC_AF_AMR
ExAC_AF_EAS
ExAC_AF_FIN
ExAC_AF_NFE
ExAC_AF_OTH
ExAC_AF_SAS
GENE_PHENO
FILTER

In [11]:
df1 = df[['Chromosome', 'position',  'chromosome', 'leftPosition', 'rightPosition', 'mostFreqVClassification', 'patient', 'Gene', 'SYMBOL']]

In [12]:
df2 = df1[df1.SYMBOL=='TERT']

In [13]:
df2.head()
df2.tail()

,Chromosome,position,chromosome,leftPosition,rightPosition,mostFreqVClassification,patient,Gene,SYMBOL
1_12161.1,5,1283266,5,1283266,1284668,Intron,HTMCP.03.06.02194_T,ENSG00000164362,TERT
1_12161.2,5,1283567,5,1283266,1284668,Intron,HTMCP.03.06.02058_T,ENSG00000164362,TERT
1_12161.3,5,1283582,5,1283266,1284668,Intron,HTMCP.03.06.02058_T,ENSG00000164362,TERT
1_12161.4,5,1283655,5,1283266,1284668,Intron,HTMCP.03.06.02268_T,ENSG00000164362,TERT
1_12161.5,5,1283705,5,1283266,1284668,Intron,HTMCP.03.06.02076_T,ENSG00000164362,TERT

,Chromosome,position,chromosome,leftPosition,rightPosition,mostFreqVClassification,patient,Gene,SYMBOL
1_1259.9,5,1295228,5,1295228,1295250,5'Flank,HTMCP.03.06.02346_T,ENSG00000164362,TERT
1_1259.10,5,1295228,5,1295228,1295250,5'Flank,HTMCP.03.06.02377_T,ENSG00000164362,TERT
1_1259.11,5,1295250,5,1295228,1295250,5'Flank,HTMCP.03.06.02148_T,ENSG00000164362,TERT
1_1259.12,5,1295250,5,1295228,1295250,5'Flank,HTMCP.03.06.02176_T,ENSG00000164362,TERT
1_1259.13,5,1295250,5,1295228,1295250,5'Flank,HTMCP.03.06.02259_T,ENSG00000164362,TERT

In [21]:
df2['new_pat'] = df2['patient'].apply(lambda x: '-'.join(x.split('_')[0].split('.')))

/projects/da_workspace/software/miniconda/envs/dlpy3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
posf = '/projects/trans_scratch/validations/workspace/szong/Cervical/73_hiv_positive_patients.txt'
negf = '/projects/trans_scratch/validations/workspace/szong/Cervical/45_hiv_negative_patients.txt'
pos = pd.read_csv(posf, header=None)[0].tolist()
pos[:2]
len(pos)
neg = pd.read_csv(negf, header=None)[0].tolist()
neg[:2]
len(neg)

['HTMCP-03-06-02001', 'HTMCP-03-06-02003']

73

['HTMCP-03-06-02002', 'HTMCP-03-06-02006']

45

In [42]:
df2.shape
df2[df2.new_pat.isin(pos)&(df2.leftPosition==1283266)]['new_pat'].nunique()
df2[df2.new_pat.isin(neg)]

(36, 10)

11

,Chromosome,position,chromosome,leftPosition,rightPosition,mostFreqVClassification,patient,Gene,SYMBOL,new_pat
1_12161.1,5,1283266,5,1283266,1284668,Intron,HTMCP.03.06.02194_T,ENSG00000164362,TERT,HTMCP-03-06-02194
1_12161.7,5,1283897,5,1283266,1284668,Intron,HTMCP.03.06.02256_T,ENSG00000164362,TERT,HTMCP-03-06-02256
1_12161.8,5,1283897,5,1283266,1284668,Intron,HTMCP.03.06.02326_T,ENSG00000164362,TERT,HTMCP-03-06-02326
1_12161.9,5,1284161,5,1283266,1284668,Intron,HTMCP.03.06.02006_T,ENSG00000164362,TERT,HTMCP-03-06-02006
1_12161.10,5,1284168,5,1283266,1284668,Intron,HTMCP.03.06.02322_T,ENSG00000164362,TERT,HTMCP-03-06-02322
1_12161.19,5,1284652,5,1283266,1284668,Intron,HTMCP.03.06.02063_T,ENSG00000164362,TERT,HTMCP-03-06-02063
1_12161.23,5,1284668,5,1283266,1284668,Intron,HTMCP.03.06.02328_T,ENSG00000164362,TERT,HTMCP-03-06-02328
1_1259.1,5,1295228,5,1295228,1295250,5'Flank,HTMCP.03.06.02012_T,ENSG00000164362,TERT,HTMCP-03-06-02012
1_1259.6,5,1295228,5,1295228,1295250,5'Flank,HTMCP.03.06.02326_T,ENSG00000164362,TERT,HTMCP-03-06-02326
1_1259.7,5,1295228,5,1295228,1295250,5'Flank,HTMCP.03.06.02328_T,ENSG00000164362,TERT,HTMCP-03-06-02328
1_1259.12,5,1295250,5,1295228,1295250,5'Flank,HTMCP.03.06.02176_T,ENSG00000164362,TERT,HTMCP-03-06-02176

In [99]:
df2['chr'] = 'chr'+ df2.Chromosome
df2['end'] = df2.position + 1

/projects/da_workspace/software/miniconda/envs/dlpy3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/projects/da_workspace/software/miniconda/envs/dlpy3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [100]:
df2[['chr', 'position', 'end']]

             chr   position        end
1_95223.1   chr3  178936082  178936083
1_95223.2   chr3  178936082  178936083
1_95223.3   chr3  178936082  178936083
1_95223.4   chr3  178936082  178936083
1_95223.5   chr3  178936082  178936083
1_95223.6   chr3  178936082  178936083
1_95223.7   chr3  178936082  178936083
1_95223.8   chr3  178936082  178936083
1_95223.9   chr3  178936091  178936092
1_95223.10  chr3  178936091  178936092
1_95223.11  chr3  178936091  178936092
1_95223.12  chr3  178936091  178936092
1_95223.13  chr3  178936091  178936092
1_95223.14  chr3  178936091  178936092
1_95223.15  chr3  178936091  178936092
1_95223.16  chr3  178936091  178936092
1_95223.17  chr3  178936091  178936092
1_95223.18  chr3  178936091  178936092
1_95223.19  chr3  178936091  178936092
1_95223.20  chr3  178936091  178936092
1_95223.21  chr3  178936091  178936092
1_95223.22  chr3  178936091  178936092
1_95223.23  chr3  178936091  178936092
1_95223.24  chr3  178936091  178936092
1_95223.25  chr3  178936091  178936092
1_95223.26  chr3  178936091  178936092
1_95223.27  chr3  178936091  178936092
1_95223.28  chr3  178936091  178936092
1_95223.29  chr3  178936091  178936092
1_95223.30  chr3  178936091  178936092
1_95223.31  chr3  178936138  178936139
1_95223.32  chr3  178936180  178936181
1_95223.33  chr3  178936362  178936363
1_95223.34  chr3  178936434  178936435
1_95223.35  chr3  178936541  178936542
1_95223.36  chr3  178936937  178936938

In [101]:
of = f'{wkdir}PIK3CA.bed'
df2[['chr', 'position', 'end']].to_csv(of, index=False, sep='\t' )

In [19]:
df1[df1.chromosome.isnull()]

Empty DataFrame
Columns: [chromosome, leftPosition, rightPosition, mostFreqVClassification, patient]
Index: []

In [48]:
df1['SYMBOL'] = df1.SYMBOL.astype(str)

/projects/da_workspace/software/miniconda/envs/dlpy3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [52]:
df1.groupby(['chromosome', 'leftPosition', 'rightPosition']).agg({'SYMBOL':lambda x: ','.join(set(x))})

                                                          SYMBOL
chromosome leftPosition rightPosition
1          10235        17038                            DDX11L1
           533206       536216         RP5-857K21.3,RP5-857K21.2
           725020       727962                     RP11-206L10.9
           755226       758168                  FAM87B,LINC01128
           830098       832212                               nan
           1034108      1035272                         C1orf159
           1111306      1111716                           TTLL10
           1316309      1318167                CCNL2,RP5-890O3.3
           1541009      1541531                              nan
           1647901      1650472                           CDK11A
           2193258      2193730                              SKI
           2585854      2589655                            TTC34
           2608816      2609171                            TTC34
           2617146      2618218                            TTC34
           2627812      2631787                            TTC34
           2688037      2690083                            TTC34
           2765522      2766132                              nan
           2891195      2891214                              nan
           3097664      3098381                           PRDM16
           4136892      4138678                              nan
           4203107      4204726                              nan
           4391955      4392174                              nan
           4691703      4693297                              nan
           4724618      4726826                            AJAP1
           5220251      5220378                              nan
           5727629      5735888                RP11-154H17.1,nan
           5875842      5877084                       AL356693.1
           7050863      7050865                           CAMTA1
           7342433      7344237                           CAMTA1
           8404850      8404851                          SLC45A1
...                                                          ...
X          136205070    136205818                            nan
           137527452    137528284                            nan
           138424252    138424382                            nan
           139805530    139807421                      LINC00632
           140877287    140878550                            nan
           140992501    140994490                         MAGEC1
           141377240    141377776                            nan
           141637709    141638785                            nan
           141656560    141656894                            nan
           141932218    141933124                            nan
           142387895    142389670                   GS1-256O22.5
           143930710    143932111                            nan
           144575858    144576668                            nan
           144836749    144837505                            nan
           144999423    144999581                            nan
           146132214    146133862                            nan
           146206285    146207149                            nan
           146380092    146380228                            nan
           146442089    146443984                            nan
           146643777    146644512                            nan
           147061629    147062754                         FMR1NB
           147276524    147277663                       U40455.1
           147662541    147663137                           AFF2
           149471253    149472572                            nan
           150082609    150083551                     AF003626.1
           150240227    150241450                            nan
           151443147    151443934                         GABRA3
           153013061    153014728                          ABCD1
           154797878    154798634                          TMLHE
           155251445    155254978                  WASH6P,WASIR1

[3180 rows x 1 columns]

In [68]:
# aggregate on multiple columns
d = {'patient': ['nunique'], 'SYMBOL':lambda x: ','.join(set(x))}
df2 = df1.groupby(['chromosome', 'leftPosition', 'rightPosition']).agg(d).reset_index()
df2.head(2)
df2.columns = df2.columns.get_level_values(0)
df2.head(2)
df3 = df2.sort_values('patient', ascending=False)

  chromosome leftPosition rightPosition patient                     SYMBOL
                                        nunique                   <lambda>
0          1        10235         17038      37                    DDX11L1
1          1       533206        536216      21  RP5-857K21.3,RP5-857K21.2

  chromosome  leftPosition  rightPosition  patient                     SYMBOL
0          1         10235          17038       37                    DDX11L1
1          1        533206         536216       21  RP5-857K21.3,RP5-857K21.2

In [70]:
df3.to_csv(outfile, sep='\t', index=False)

In [34]:
df1.groupby(['chromosome', 'leftPosition', 'rightPosition'])['patient', 'SYMBOL'].nunique().sort_values('patient', ascending=False).reset_index().head(30)

   chromosome  leftPosition  rightPosition  patient  SYMBOL
0           1      16829943       16840992       79       3
1          10     127574661      127589465       75       3
2          16      33037154       33041167       74       1
3          16      33063091       33066469       73       1
4           7     152073997      152087464       73       1
5           9      33792343       33799648       72       1
6           5      49432029       49439927       69       0
7          15      22822737       22832411       66       1
8           3     195230629      195232990       65       0
9           1     149025692      149032010       65       1
10          X      88457388       88462267       65       0
11          2      92281655       92283918       63       0
12          7      65053792       65060659       63       0
13          4       3557457        3571431       62       0
14         15      20136470       20138745       62       0
15          4      49153176       49154983       62       0
16          9      45357066       45366189       61       1
17         10      42638043       42640403       60       1
18          X        155239         162703       60       0
19          7     142458277      142469657       59       2
20          7      64960477       64962979       58       0
21         16      33862919       33863718       58       0
22          3     195668321      195672230       58       2
23         15      20540635       20549271       58       1
24         16      32834165       32836529       55       1
25          3     195221220      195222797       55       0
26          2      87642518       87647158       55       0
27          2      92241048       92242294       54       0
28          3     197110988      197118377       54       0
29          X       9371453        9382440       54       1

In [12]:
df1.groupby(['chromosome', 'leftPosition', 'rightPosition'])['patient'].nunique().sort_values(ascending=False).head(30)

chromosome  leftPosition  rightPosition
1           16829943      16840992         79
10          127574661     127589465        75
16          33037154      33041167         74
            33063091      33066469         73
7           152073997     152087464        73
9           33792343      33799648         72
5           49432029      49439927         69
15          22822737      22832411         66
1           149025692     149032010        65
X           88457388      88462267         65
3           195230629     195232990        65
2           92281655      92283918         63
7           65053792      65060659         63
4           49153176      49154983         62
15          20136470      20138745         62
4           3557457       3571431          62
9           45357066      45366189         61
10          42638043      42640403         60
X           155239        162703           60
7           142458277     142469657        59
            64960477      64962979         58
3           195668321     195672230        58
15          20540635      20549271         58
16          33862919      33863718         58
            32834165      32836529         55
2           87642518      87647158         55
3           195221220     195222797        55
2           92241048      92242294         54
X           9371453       9382440          54
11          55012314      55018381         54
Name: patient, dtype: int64